In [2]:
import pandas as pd
import numpy as np

In [3]:
matches = pd.read_csv('dataset/matches.csv')
deliveries = pd.read_csv('dataset/deliveries.csv')

In [24]:
matches.isnull().sum()
# deliveries.isnull().sum()

id                   0
city                13
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [25]:
matches['city'] = matches['city'].fillna('Unkown')
matches['winner'] =matches['winner'].fillna('Draw')
matches['result'] =matches['result'].fillna('no result')
matches['result_margin'] = matches['result_margin'].fillna(0.0)
matches['eliminator'] = matches['eliminator'].fillna('N')
matches['method'] = matches['method'].fillna('no method')
matches['player_of_match'] = matches['player_of_match'].fillna('no player')

In [26]:
matches.isnull().sum()

id                 0
city               0
date               0
player_of_match    0
venue              0
neutral_venue      0
team1              0
team2              0
toss_winner        0
toss_decision      0
winner             0
result             0
result_margin      0
eliminator         0
method             0
umpire1            0
umpire2            0
dtype: int64

In [27]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             816 non-null    object
 2   date             816 non-null    object
 3   player_of_match  816 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           816 non-null    object
 11  result           816 non-null    object
 12  result_margin    816 non-null    float64
 13  eliminator       816 non-null    object
 14  method           816 non-null    object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

In [33]:
matches['id'] = matches['id'].astype(np.int32)
matches['date'] = pd.to_datetime(matches['date'], format='%Y-%m-%d', errors='coerce')

In [34]:
matches.to_csv('../dataset/matches_cleaned.csv', index=False)